<article>
    <div class="mtcws margin-bottom">
        <legend>Récupération de mot de passe</legend>
        {% if response is defined and not response.msg is empty  %}
            <div class="alert alert-{{ response.done ? 'success' : 'danger' }}">{{ response.msg }}</div>
        {% endif %}

        {% if passwordForm %}
            {{ passwordForm | raw }}
        {% else %}
            <a href="/" class="btn">Retour à la page d'accueil</a>
        {% endif %}
    </div>
</article>
