<article{{ attributes }}>
    <div class="mtcws margin-bottom">
        <legend><h2 class="mtc-login" data-target="#MtcLoginModal" data-backdrop="true" data-toggle="modal" data-date="{{ 'now' | date('YmdHis') }}">Se connecter</h2></legend>
        <script type="text/javascript">
            window.SHOW_MTC_LOGIN = true;
        </script>
    </div>
</article>
