<section data-aos="zoom-in" class="testimonial hp-nav">
  {{ title_suffix }}
  {{ content }}
  <div class="avis-verifie">
       <div class="netreviewsWidget" id="netreviewsWidgetNum4459" data-jsurl="//cl.avis-verifies.com/fr/cache/2/8/9/2898890e-18c0-b6e4-e919-266b76f1467a/widget4/widget02-4459_script.js"></div>
   </div>
  <div class="pricing_btn"><a class="btn" href="/maigrir/la-communaute/temoignages">Voir toutes les témoignages</a></div>
</section>