{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}
<h1>Modifier mon profil</h1>
<span>Votre profil pourra être vu des autres membres de la communauté et permettra de vous mettre
en relation avec des personnes qui ont des points communs avec vous.</span>
<form{{ attributes }}>
  {{ children }}
</form>
