<div class="chatroom-user {%if is_coach %}coach{% endif %}" data-uid="{{ uid }}">
  <img class="chatroom-avatar"  src="{{profile_image  }}" />
  <span class="chatroom-user-name">{{ name }}</span>
</div>
