<div class="chatroom-user-list-container" data-cid="{{ chatroom.cid.value }}">
  <h3 class="chatroom-user-list-title">Participants</h3>
  <div class="chatroom-user-list">
  </div>
</div>

<ul class="chatroom_box_chat" data-cid="{{ chatroom.cid.value }}">

	<li>
		<label id="o_chat" for="chat"><i></i></label><input id="chat" type="checkbox" name="toggle">
		<div class="box_chat_wrapper">
			<div>
				<h3 class="box_chat_title">Participants</h3>
				<div class="chatroom-user-list-mobile">
					
				</div>
			</div>
		</div>
	</li>

</ul>
